doctype html
html(lang="en")
  head
    title= pageTitle
    script(type='text/javascript').
      
  body
    h1 Withdraw Bitcoin
    #container.col
      p.
        withdraw #{txinfo.amount} btc to #{txinfo.recipientAddr}
      if txinfo.txhash !== ""
        p withdraw successful
      else
        p withdraw unsuccessful
      p.
        txhash: #{txinfo.txhash}
      p
        a(href="http://tbtc.blockr.io/tx/info/#{txinfo.txhash}") see transaction in blockexplorer
